<!DOCTYPE html>
<html>
  <head>
    <title>SoundCrowd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="SoundCrowd" />
     <meta property='og:image' content="<%= image_url('SoundCrowd.png') %>"/>
     <meta property="og:description"
       content="A SoundCloud inspired open audio platform to create a community among creators, listeners, and curators."
     />
     <meta property="og:url"
       content="http://soundcrowd3.herokuapp.com/"
     />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= image_url('favicon.png') %>">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400&display=swap" rel="stylesheet">
    <header name="Access-Control-Allow-Origin" value="*" >
    <script type="text/javascript">
      window.logo = "<%= image_url('logo2.png') %>"
      window.logoname = "<%= image_url('logoname.png') %>"
      window.logonameclearback = "<%= image_url('logonameclearback.png') %>"
    </script>
    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

